@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Declaração de privacidade EY Brasil</h2>
<br>
<h5>Última atualização: Setembro de 2021</h5>
<br>
<h4>Introdução</h4>
<br>


<p>Este aviso de privacidade (“Aviso”) tem como objetivo informar como a EY Brasil trata seus dados pessoais, para quais finalidades e quais são seus direitos em relação aos seus dados pessoais, sempre de acordo com a Lei Federal nº 13.709/2018, Lei Geral de Proteção de Dados Pessoais (“LGPD”).

Este documento é parte integrante da Declaração de Privacidade Global e deverá ser lido em conjunto. Em caso de conflito entre os documentos, este Aviso prevalecerá para o tratamento de dados pessoais dos residentes no Brasil ou para o tratamento realizado no Brasil.

A EY Brasil (“EY”) refere-se à uma das  firmas-membro da Ernst & Young Global Limited, com sede na  Av. Pres. Juscelino Kubitscheck, 1909, Torre Norte, São Paulo/SP, Brazil, 04543-011, Brasil.

Para os fins deste Aviso, consideram-se dados pessoais (“Dados Pessoais”) toda informação relacionada a pessoa natural identificada ou identificável.</p>

 <br>

<h3>Quais Dados Pessoais são tratados pela EY?</h3>
<p>A EY poderá tratar seus Dados Pessoais quando fornecidos diretamente por você, por sua empresa ou por um cliente da EY, por exemplo quando nos contratam para execução de quaisquer dos serviços oferecidos por nós ou quando você se candidatar para uma vaga de trabalho conosco.

Os Dados Pessoais coletados poderão incluir, sem se limitar a: nome, RG, CPF, endereço, telefone, e-mail, data de nascimento, informações financeiras, informações profissionais, entre outras.

Os tipos de Dados Pessoais coletados podem variar de acordo com a natureza dos serviços que fornecemos a você, ao nosso cliente ou como você usa o nosso site. Em algumas circunstâncias raras, podemos também coletar outras categorias especiais de dados pessoais a seu respeito, como dados sensíveis, seja porque você nos forneceu esses dados ou porque somos obrigados a coletá-los em decorrência de requisitos legais impostos a nós.

Também, quando você visita nosso site, coletamos certos Dados Pessoais automaticamente do seu dispositivo. Os dados que coletamos automaticamente incluem informações, como seu endereço IP, tipo de dispositivo, número de identificação exclusivo do dispositivo, tipo de navegador, localização geográfica ampla e outras informações técnicas. Também coletamos informações sobre como seu dispositivo interagiu com nosso site, incluindo as páginas acessadas e links clicados.
</p>
 <br>

<h3>Para quais finalidades a EY trata Dados Pessoais?</h3>
<p>Tratamos Dados Pessoais para diversas finalidades, em especial para fornecer serviços a você ou aos nossos clientes e, também, para promover os serviços do portfólio EY.

Adicionalmente, podemos usar seus Dados Pessoais nos processos internos voltados às consultas de prevenção à lavagem de dinheiro, verificações de due diligence relacionadas aos serviços, procedimentos de segurança, promoção de serviços e comunicações, bem como melhoramento contínuo do site e plataformas EY.

A EY também poderá tratar seus dados para as seguintes finalidades de negócio que não são exaustivas:

·       Auditoria relacionada às interações com os titulares em relação aos serviços profissionais que a EY presta.

·       Detectar incidentes de segurança, proteger contra atividades maliciosas, enganosas, fraudulentas ou ilegais e tomar as medidas apropriadas como resultado de qualquer atividade detectada.

·       Realizar serviços profissionais para nossos clientes.

·       Realizar pesquisas internas para desenvolvimento tecnológico e demonstração.

·       Realizar pesquisas financeiras, contábeis e de reputação.

·       Empreender atividades para verificar ou manter a qualidade ou segurança de nossos serviços, bem como  melhorar, atualizar ou melhorar nossos serviços.

Para saber mais, a Declaração de Privacidade Global descreve com mais detalhes os Dados Pessoais específicos que coletamos, as finalidades e as categorias de Dados Pessoais que compartilhamos ou podemos compartilhar com terceiros.
</p>
 <br>

<h3>Quais são os seus direitos como titular dos Dados Pessoais?</h3>
<p>Como titular de Dados Pessoais você possui os seguintes direitos:

·       Confirmação da existência de tratamento dos seus Dados Pessoais;

·       Informação sobre quais Dados Pessoais são tratados pela EY e por quanto tempo;

·       Acesso aos seus Dados Pessoais;

·       Informação sobre para quais finalidades seus Dados Pessoais são tratados;

·       Solicitar a correção de dados incompletos, inexatos ou desatualizados;

·       Solicitar a anonimização, bloqueio ou eliminação de dados que julgar desnecessários, excessivos ou tratados em desconformidade com a LGPD;

·       Solicitar, quando possível, a portabilidade dos Dados Pessoais a outro fornecedor de serviço ou produto;

·       Solicitar a eliminação dos Dados Pessoais tratados com base no seu consentimento ou quando não atendem mais a finalidade para qual foram coletados;

·       Solicitar informação das entidades públicas e privadas com as quais a EY realizou uso compartilhado dos seus dados;

·       Informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa, quando esta for a base legal utilizada pela EY para o tratamento dos seus dados;

·       Revogação do consentimento;

·       Solicitar a revisão de decisões tomadas unicamente com base em tratamento automatizado de dados pessoais que afetem seus interesses; e

·       Direito de apresentar queixa à Autoridade Nacional de Proteção de Dados Pessoais (“ANPD”).

Para exercer os direitos mencionados acima ou solicitar qualquer esclarecimento sobre o tratamento de Dados Pessoais pela EY Brasil, entre em contato com nosso Escritório de Privacidade através do e-mail data.protection@br.ey.com .
</p>
 <br>

<h3>Compartilhamento de Dados Pessoais</h3>
<p>A EY poderá compartilhar seus Dados Pessoais com as firmas membro da Ernst & Young Global Limited, com clientes, fornecedores, parceiros de negócios, autoridades e prestadores de serviços, sempre em observância aos direitos fundamentais e a proteção dos Dados Pessoais, conforme descrito na LGPD.

Para esse compartilhamento são estabelecidos direitos e deveres entre as partes visando impedir o tratamento dos Dados Pessoais em desconformidade com as leis aplicáveis. Também é exigido que todos os envolvidos tratem os dados pessoais com segurança, sigilo e os mantenham apenas por período determinado. Estas obrigações permanecem mesmo após o fim do relacionamento entre as partes.
</p>
 <br>
<h3>Transferência Internacional de Dados Pessoais</h3>
<p>As firmas-membro da Enerst & Young Global Limited operam em mais de 150 países em todo o mundo e certos aspectos de infraestrutura são centralizados, incluindo serviços de tecnologia da informação fornecidos às firmas-membro. Além disso, quando os compromissos com os clientes da EY abrangem mais de uma jurisdição, certas informações precisarão ser acessadas por todos aqueles dentro da organização da EY que estão trabalhando no assunto. Portanto, seus Dados Pessoais serão transferidos e armazenados fora do país.

A EY também poderá compartilhar seus Dados Pessoais com empresas com sede fora do território nacional contratadas para auxiliar na prestação de serviços e nos processos internos. A transferência de Dados Pessoais somente será realizada para essas empresas, entidades ou organismos internacionais localizados em países que observem um grau de proteção de Dados Pessoais adequado ou que garantam o cumprimento dos princípios, direitos e regime de proteção de dados das legislações de privacidade aplicáveis, em observância à norma corporativa vinculativa da EY, o  Binding Corporate Rules da EY.
</p>
 
<br>
<h3>Armazenamento Dados Pessoais</h3>
<p>A EY possui medidas técnicas e organizacionais apropriadas para proteger os Dados Pessoais, como classificação das informações, backup e restauração de dados e gestão de identidade e acesso.

Os Dados Pessoais são protegidos contra o acesso não autorizado, o processamento ou a divulgação ilegal, bem como a perda acidental, modificação ou destruição. Isto se aplica independentemente do fato de tais dados serem processados de forma eletrônica ou física.

A nossa política é manter os Dados Pessoais apenas enquanto forem necessários para os fins legítimos e informados. Os prazos de retenção e armazenamento dos Dados Pessoais variam e são definidos de acordo com os requisitos regulatórios e legais.

Disposições Finais
Este Aviso será atualizado periodicamente a fim de refletir as mudanças em nossas práticas e serviços. Quando publicarmos alterações a este Aviso, revisaremos a data da última atualização ano início do documento

Recomendamos que você verifique esta página de tempos em tempos para se informar sobre quaisquer alterações na forma em que tratamos Dados Pessoais.

Em caso de dúvidas e requisições, entre em contato com nosso escritório de privacidade através do e-mail: data.protection@br.ey.com </p>


